@import "themeGenerator";

@mixin darkPlusTheme() {
    // We use this scope to contain any variables we want to define and reuse.
    $theme-name: "darkPlus";
    $page-color: rgb(44, 41, 45);
    $key-color: rgb(85, 156, 214);
    $white: rgb(212, 212, 212);

    @include generate-theme(
        $theme-name: $theme-name,

        $page-color: $page-color,
        $default-text-color: $white,

        $menu-background-color: rgb(70, 70, 70),
        $menu-unselected-color: rgb(135, 135, 135),
        $menu-selected-color: white,
        $menu-selected-background-color: $page-color,

        $line-number-color: rgb(75, 75, 75),
        $current-line-color: rgb(197, 197, 197),
        $current-line-background-color: palegoldenrod,

        $comment-fade-color: rgb(128, 128, 122),
        $comment-color: rgb(106, 153, 85),
        $function-color: rgb(78, 201, 176),
        $link-color: khaki,
        $link-focus-color: #485E6C,
        $function-name-color: rgb(220, 220, 170),

        $key-color: $key-color,
        $arg-color: rgb(244, 149, 83),
        $reserved-color: rgb(197, 113, 150),
        $string-color: rgb(206, 145, 95),

        $default-typescript-color: rgb(104, 205, 254),
        $default-html-color: $white,
        $default-yaml-color:  rgb(206, 145, 120),

        $flat-file-key-color: $key-color,
        $symbol-color: $white,

        $caret-color: $white,
    );
}

@include darkPlusTheme();
