@import "variables";

@mixin menu-colors(
    $unselected,
    $selected-background,
    $selected,
    $menu-background-color
) {
    .tabs {
        background-color: $menu-background-color;

        & li {
            &:hover, &:focus {
                color: $selected;

                &::after {
                    background-color: $selected;
                }
            }

            &::after {
                background-color: $unselected;
            }

            color: $unselected;

            &.selected {
                color: $selected;

                &::after{
                    background-color: $selected-background;
                }
            }
        }
    }
}
