$color-theme-primary: black;
$color-theme-secondary: rgb(153, 153, 153);
$color-theme-hover: white;
$color-divider: $color-theme-secondary;

$menu-image-height: 3rem;
$menu-image-padding: 1rem;
$menu-text-size: 1rem;
$menu-text-padding: 0.5rem;

$menu-total-height: $menu-image-height + ($menu-image-padding * 2) +
    $menu-text-size + ($menu-text-padding * 2);

$social-height: 2.5rem;
$social-margin: $social-height / 8;
$social-total-height: $social-height + $social-margin * 5;

$content-padding: 0.5rem;

$content-height: calc(100vh - #{$menu-total-height} - #{$social-total-height} - #{$content-padding});

$image-full-width: calc(100vw - #{$content-padding * 4});

$desktop-image-full-width: 36rem;