@import "variables";

nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        cursor: pointer;
        height: $menu-image-height;
        padding: $menu-image-padding;
    }
}

.tabs {
    color: $color-theme-secondary;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;

    width: 100%;

    li {
        cursor: pointer;
        padding: $menu-text-padding;
        font-size: $menu-text-size;

        &:hover {
            color: $color-theme-hover;
        }
    }
}

.selected {
    font-weight: 800;
    color: $color-theme-hover;
}