@import "variables";
@import "mediaQueries";

.content {
    white-space: pre-line;
    height: $content-height;
    padding: $content-padding;
    overflow-y: auto;
}

.about-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin: 0 0.5rem;
    color: $color-theme-hover;

    transition: font-size 0.1s;
    font-size: 0.9rem;

    @include media-tablet-portrait {
        font-size: 1.2rem;
    }

    @include media-tablet-landscape-and-larger {
        font-size: 1rem;

        width: $desktop-image-full-width;
        margin: auto;
    }

    img {
        width: $image-full-width;
        margin-bottom: 0.5rem;

        @include media-tablet-portrait-and-larger {
            width: 100%;
        }
    }

    div {
        @include media-tablet-portrait-and-larger {
            margin: 0.5rem;
        }
    }
}

.listen-page {
    display: flex;
    flex-direction: column;

    iframe, .spinner {
        width: 100%;
        height: 160px;
        margin-bottom: 0.5em;
    }
}

.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .contact-section {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        margin-left: 4rem;
        margin-right: 4rem;

        padding: 2rem;
        font-size: 1.2rem;

        color: $color-theme-hover;

        a {
            color: darken($color-theme-hover, 20%);
        }
    }

    .contact-label {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
    }
}

.upcoming-events-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 1rem;

    .upcoming-event {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        color: $color-theme-hover;

        width: 100%;
        margin: 1rem;

        .event-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .event-sub-info {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;

                & div:nth-child(1) {
                    margin-right: 0;
                }

                @include media-tablet {
                    flex-direction: row;

                    & div:nth-child(1) {
                        margin-right: 1rem;
                    }
                }
            }
        }

        .upcoming-event-buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            a {
                margin-top: 0.5rem;

                & button {
                    font-size: 1.1rem;
                    width: 5rem;
                    color: $color-theme-hover;
                    border: solid 2px $color-theme-hover;
                    background-color: transparent;

                    &:hover {
                        color: $color-theme-hover;
                        border: solid 2px $color-theme-hover;
                    }
                }
            }
        }
    }

    .events-tba {
        margin-top: 1rem;
    }
}

.social {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    img {
        cursor: pointer;
        filter: invert(95%) sepia(0%) saturate(7493%) hue-rotate(178deg) brightness(106%) contrast(101%);

        width: $social-height;
        height: $social-height;

        margin-top: $social-margin;
        margin-bottom: $social-margin;
    }
}