@import "variables";

.content {
    white-space: pre-line;
    height: $content-height;
    padding: $content-padding;
    overflow-y: scroll;
}

.about-page {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-size: 0.9rem;

    img {
        width: $image-full-width;
        margin-bottom: 0.5rem;
    }
}

.listen-page {
    display: flex;
    flex-direction: column;
    height: 100vh;

    iframe, .spinner {
        width: 100%;
        height: 160px;

        border: 1px solid black;
        margin-bottom: 0.5em;
    }
}

.contact-page {
    background-color: darken($color-theme-secondary, 50%);

    .contact-section {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        margin-top: 1rem;
        margin-left: 4rem;
        margin-right: 4rem;

        padding: 2rem;
        font-size: 1.2rem;

        border-top: solid $color-theme-secondary 1px;
        color: $color-theme-hover;

        &:nth-child(1) {
            border: none;
        }

        a {
            color: darken($color-theme-hover, 20%);
        }
    }

    .contact-label {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
    }
}

.upcoming-events-page {
    display: flex;
    flex-direction: column;
}

.upcoming-event {
    display: flex;
    flex-direction: row;
}

.social {
    background-color: pink;

    z-index: 10;

    position: fixed;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
    right: 50%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    img {
        width: $social-height;
        height: $social-height;

        margin-top: $social-margin;
        margin-bottom: $social-margin;
    }
}