@import "variables";

.content {
    white-space: pre-line;
    height: $content-height;
    padding: $content-padding;
    overflow-y: scroll;
}

.about-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-size: 0.9rem;
    color: $color-theme-hover;

    img {
        width: $image-full-width;
        margin-bottom: 0.5rem;
    }
}

.listen-page {
    display: flex;
    flex-direction: column;
    height: 100vh;

    iframe, .spinner {
        width: 100%;
        height: 160px;
        margin-bottom: 0.5em;
    }
}

.contact-page {
    .contact-section {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        margin-top: 1rem;
        margin-left: 4rem;
        margin-right: 4rem;

        padding: 2rem;
        font-size: 1.2rem;

        border-top: solid $color-theme-secondary 1px;
        color: $color-theme-hover;

        &:nth-child(1) {
            border: none;
        }

        a {
            color: darken($color-theme-hover, 20%);
        }
    }

    .contact-label {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
    }
}

.upcoming-events-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1rem;

    .upcoming-event {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        color: $color-theme-hover;

        width: 100%;
        margin: 1rem;

        .event-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .event-sub-info {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
        }

        .upcoming-event-buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            a {
                margin-top: 0.5rem;

                & button {
                    font-size: 1.1rem;
                    width: 5rem;
                    color: $color-theme-hover;
                    border: solid 2px $color-theme-hover;
                    background-color: transparent;

                    &:hover {
                        color: $color-theme-hover;
                        border: solid 2px $color-theme-hover;
                    }
                }
            }

        }
    }
}

.social {
    background-color: pink;

    z-index: 10;

    position: fixed;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
    right: 50%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    img {
        cursor: pointer;
        filter: invert(95%) sepia(0%) saturate(7493%) hue-rotate(178deg) brightness(106%) contrast(101%);

        width: $social-height;
        height: $social-height;

        margin-top: $social-margin;
        margin-bottom: $social-margin;
    }
}