@import "variables";
@import "utility";
@import "mediaQueries";
@import "menu";
@import "loading";

html {
    font-family: Inconsolata, sans-serif;
    font-weight: 500;

    @include media-tablet-landscape-and-larger {
        font-size: 1em;
    }
}

body {
    overflow-y: hidden;
    margin: 0 !important;
}
