@import url('https://fonts.googleapis.com/css?family=Montserrat:500,800');
@import "variables";
@import "utility";
@import "mediaQueries";
@import "menu";
@import "loading";
@import "divider";
@import "pages";

html {
    font-family: Montserrat, sans-serif;
    font-weight: 500;

    height: 100vh;

    background-color: $color-theme-primary;
    color: $color-theme-secondary;

    @include media-tablet-landscape-and-larger {
        font-size: 1em;
    }
}

body {
    overflow-y: hidden;
    margin: 0 !important;

    height: 100%;
    background-image: url("https://i.imgur.com/lShzsIG.png");
}

#renderTarget {
    height: 100%;
}